<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">This is not StackOverflow</p>
      </div>
      
        <div class="navbar-nav">
          <a class="nav-link" id="home" href="/home">HOME</a>
          <% if (user) {%>
            <a class="nav-link" id="contact" href="/logout">LOG OUT</a>
          <% } else {  %> 
            <a class="nav-link" id="contact" href="/signup">SIGN UP</a>
            <a class="nav-link" id="contact" href="/">LOG IN</a>
            <% } %> 
        </div>
      
    </div>
  </nav>